*{
	font-family: "微软雅黑";
}
.nav-whole-div{
	background-image:url(../img/img-1.jpg);
	width: 100%;
	height: 500px;
}
.container-fluid{
	width: 70%;
}
nav a{
	color: white;
}
nav a:hover{
	background: black;
}
.sign{
	margin-top: 10px;
	height: 480px;
	width: 70%;
	/*background: black;*/
	margin: auto;
	padding: 20px;
}
.sign-img{
	width: 100%;
	text-align: center;
}
.sign-img img{
	width: 120px;
}
.dazi{
	font-size: 36px;
	padding-top: 20px;
	color: white;
}
.xiaozi{
	font-size: 20px;
	padding-top: 20px;
	color: white;
}
.foot_img{
	height: 50px;
	text-align:center;
}
.foot_img img{
	height: 50px;
}

